Name: Jonathan Lawrence<br/>
Date: 11/29/2018<br/>
DSC510 1.3 Assignment: Programming Concepts

<h3>(A) Simple calculations</h3>

<b>A.1. Add two integers together</b>

In [1]:
2+2

4

<b>A.2. Show how parenthesis changes the order of operations when using multiplication and addition together.</b>

In [2]:
x = 5 * 3 + 2
y = 5 * (3 + 2)
print("x = " + str(x))
print("y = " + str(y))

x = 17
y = 25

<b>A.3. Show how to square and cube numbers.</b>

In [3]:
squared = 5 ** 2
cubed = 5 ** 3
print("squared = " + str(squared))
print("cubed = " + str(cubed))

squared = 25
cubed = 125

<b>A.4. Assign numbers to variables and then perform mathematical operations (e.g., add, subtract, multiply) using the variables.</b>

In [4]:
var1 = 50
var2 = 20

varAdd = var1 + var2
varSub = var1 - var2
varMul = var1 * var2
varDiv_Float = var1 / var2
varDiv_Floor = var1 // var2
print("varAdd = " + str(varAdd))
print("varSub = " + str(varSub))
print("varMul = " + str(varMul))
print("varDiv_Float = " + str(varDiv_Float))
print("varDiv_Floor = " + str(varDiv_Floor))

varAdd = 70
varSub = 30
varMul = 1000
varDiv_Float = 2.5
varDiv_Floor = 2

<b>A.5. Set the variable pi = 3.14159265 and then round it to two decimal places.</b>

In [5]:
pi = 3.14159265
round(pi,2)

3.14

<b>A.6. See what happens when you try to divide a number by 0.</b>

In [6]:
3/0
# This causes a ZeroDivisionError

ZeroDivisionError: division by zero

<b>A.7. Add an integer and a floating point number. Is the result a floating point number or an integer?</b>

In [7]:
varInteger = 10
varFloating = 20.3456789
varInteger + varFloating
#The result is a floating point number.

30.3456789

<b>A.8. Compute the remainder of an odd number when divided by 2.</b>

In [8]:
remainder = 17 % 2
remainder

1

<h3>(B) Working with strings</h3>

<b>B.1. Enter Hello World! as a string</b>

In [9]:
print("Hello World!")

Hello World!

<b>B.2. Assign your first name to the variable first_name and your last name to the variable last_name.</b>

In [10]:
first_name = "Jonathan"
last_name = "Lawrence"

<b>B.3. Calculate the number of characters in your first name.</b>

In [11]:
len(first_name)

8

<b>B.4. Using string indexing, get the first letter of your first name.</b>

In [12]:
first_name[0]

'J'

<b>B.5. Using string indexing, get the last letter in your last name.</b>

In [13]:
last_name[-1]

'e'

<b>B.6. See what happens when you add first_name and last_name.</b>

In [14]:
first_name + last_name

'JonathanLawrence'

<b>B.7. See what happens when you multiply your first_name by an integer between 1 and 5.</b>

In [15]:
first_name * 4

'JonathanJonathanJonathanJonathan'

<h3>(C) Working with lists</h3>

<b>C.1. Create a list of numbers from 1 to 5 and assign it to the variable L.</b>

In [16]:
L = [1,2,3,4,5]

<b>C.2. Using list indexing, select the second item in the list.</b>

In [17]:
L[1]

2

<b>C.3. Using slices, get a list containing only the 2nd, 3rd, and 4th numbers.</b>

In [18]:
L[1:4]

[2, 3, 4]

<b>C.4. Append a 6 to the end of the list.</b>

In [19]:
L.append(6)
L

[1, 2, 3, 4, 5, 6]

<b>C.5. Using slices, replace the numbers 2 and 3 with 8 and 9.</b>

In [20]:
L[1:3] = [8,9]
L

[1, 8, 9, 4, 5, 6]